html,
body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --whitesmoke: #f5f5f5;
    --cotton: #cbcbcb;
    --obsidian: #040203;
    --charcoal: #28231d;
}